@font-face {
    font-family: 'proxima-nova';
    src: url('../font/proximanova-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /*font-family: 'elegant-lux';
    src: url('../font/elegantluxpro-mager.woff2') format('woff2'),
         url('../font/elegantluxpro-mager.woff') format('woff'),
         url('../font/elegantluxpro-mager.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;*/
}

body {
  font-family: 'proxima-nova', Georgia, sans-serif;
  background-color: #f5f5f5;
  color: #314156;
}

p {
  font-size: 20px;
}

footer {
  border-top: 35px solid #ffdbe7;
  background-color: #939393;
  color: #f5f5f5;
}

footer a {
  color: #f5f5f5;
}

footer img {
  max-width: 250px;
}

nav {
  font-size: 20px;

}

.navbar-brand {
  padding: 20px;
}

.navbar-brand>img {
  padding: 5px;
  position: relative;
  bottom: 45px;
  width: 177px;
  height: 75px;
}

.row {
  margin-top: 40px;
  margin-bottom: 20px;
}

.row-tall {
  min-height: 90vh;
}

.navbar {
  background-color: #314156;
  padding-top: 30px;
}

.navbar-default .navbar-nav>li>a {
  color: #f5f5f5;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #939393;
}

.border-pink {
  border-top: 35px solid #ffdbe7;
  border-bottom: 35px solid #ffdbe7;
}

.border-padded {
	padding-bottom: 80px;
	padding-top: 20px;
}

.background-blue {
  background-color: #314156;
  color: #f5f5f5;
}


/*IPHONE ANIMATION*/
.gray {
  color: #AAAAAA;
}

.figure-iphone {
  height: 500px;
}
@media (min-width: 30em) {
  .figure-iphone {
    height: 600px;
  }
}

.imessage-phone {
  height: 600px;
  padding-top: 50px;
}

.text-overlay {
  position: relative;
  top: 0;
  width: 300px;
  margin-bottom: -465px;
}

.imessages {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  width: 250px;
  text-align: left;
  margin-left: 25px;
}

@media screen and (max-width: 991px) {
  .imessages {
    margin-left: 0;
  }
  .imessage-phone {
    margin-top: -70px;
  }
}

/*@media (min-width: 30em) {
  .list-imessages {
    height: 448px;
    margin: 73px auto;
    max-width: 255px;
  }
}*/

.imessage {
  text-align: left;
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 4px;
  clear: both;
  font-size: 11px;
  max-width: 75%;
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.imessage.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.imessage.you {
  background: #e5e5ea;
  float: left;
}

.imessage.you:after {
  border-bottom-right-radius: 1em 0.5em;
  border-right: 6px solid #e5e5ea;
  bottom: 0;
  content: '';
  height: 10px;
  left: -6px;
  opacity: 1;
  position: absolute;
  width: 12px;
}
.imessage.me {
  background: #1D8EFE;
  color: #fff;
  float: right;
}

.imessage.me:after {
  border-bottom-left-radius: 1em 0.5em;
  border-left: 6px solid #1D8EFE;
  bottom: 0;
  content: '';
  height: 10px;
  right: -6px;
  position: absolute;
  width: 12px;
}

.imessage-indicator path {
  fill: #e5e5ea;
  fill-rule: evenodd;
}

.imessage2 {
  text-align: left;
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 4px;
  clear: both;
  font-size: 16px;
  max-width: 75%;
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -ms-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.imessage2.you2 {
  background: #e5e5ea;
  float: left;
}

.screenshot-overlay {
  width: 320px;
  height: auto;
  position: absolute;
  right: 119px;
  top: 70px;
}

.icon {
  padding-right: 0;
  width: 50px;
}

.btn-primary {
  background-color: #314156;
  border-color: #415166;
  margin-left: 10px
}

.btn-primary:hover {
  background-color: #213146;
  border-color: #415166;
  margin-left: 10px}
.content-large {
    margin-top: 30px;
    width: 100%;
    font-size: 22px;
    text-align: left;}

.content-small {
    margin-top: 30px;
    width: 400px;
	font-size: 22px;
  /*display: inline-block;*/
    float: right;
    text-align: left;
    width: 50%;
    }

.screenshot {
	width: 85%;
	max-width: 350px;
    padding-top: 10px;}

.graphicc {
	width: 400px;}

.btn-primary:disabled {
  background-color: #415166;
  border-color: #415166;
  margin-left: 10px}


#checkout-form .row {
  margin-top: 0;}


.faq-content {
    padding-top: 20px;}

.form-label {
	padding-right: 0px;
	padding-left: 5px;}

.presto-typed {
  min-height: 99px;
  /* code for animated blinking cursor */
  }
  .presto-typed .typed-flexcontainer {
    /*max-width: 600px;*/
    display: flex;
    /*display: inline-block;*/
    margin: 2em auto;
    width: 50%;
    float: left;
    }
  .presto-typed .media {
    height: 28px;
    flex-shrink: 0;
    align-self: flex-end;
    margin-bottom: 10px; }
  .presto-typed .bubble {
    background: #fafafa;
    border: 2px solid #c7c7c7;
    border-radius: 24px;
    display: flex;
    flex-grow: 1;
    margin-left: 20px; }
  .presto-typed .type-wrap {
    padding: 10px 0 10px 15px;
    font-weight: 400;
    font-size: 16px;
    flex-grow: 1;
    /*flex-grow: 0;*/
    }
  .presto-typed .send {
    height: 32px;
    margin: 6px;
    flex-shrink: 0;
    align-self: flex-end;
    }
  .presto-typed .typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite; }

@-keyframes blink {
  .presto-typed 0% {
    opacity: 1; }
  .presto-typed 50% {
    opacity: 0; }
  .presto-typed 100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes blink {
  .presto-typed 0% {
    opacity: 1; }
  .presto-typed 50% {
    opacity: 0; }
  .presto-typed 100% {
    opacity: 1; } }

@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .presto-typed .typed-fade-out {
    opacity: 0;
    animation: 0;
    transition: opacity .25s; }

    /******* Media CSS *****/



@media screen and (max-width: 991px) {
  .content-small {
    float: none !important;
    text-align: left;
    width: 100%;
    }
 .presto-typed .typed-flexcontainer {
    display: flex;
    margin: 2em auto;
    width: 100%;
    float: left;
    }

.text-center {
    text-align: center;
    margin-left: 50px;
}
}

@media screen and (max-width: 768px) {
  .content-small {
    float: none !important;
    text-align: left;
    width: 100%;
    }
 .presto-typed .typed-flexcontainer {
    display: flex;
    margin: 2em auto;
    width: 100%;
    float: left;
    }

.text-center {
    text-align: center;
    margin-left: 0px;
}
.h3, h3 {
    font-size: 16px;
}
.h1, h1 {
    font-size: 36px;
}
p {
    font-size: 14px;
}
.presto-typed .media {
    height: 24px;
    flex-shrink: 0;
    align-self: flex-end;
    margin-bottom: 10px;
}
}
